/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

#boolean-logo {
    height: 40px;
}

header {
    height: 60px;
    background-color: orange;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* UTILITYS */
.flex-container {
    display: flex;
}

.container {
    width: 70%;
    max-width: 1050px;
    margin: auto;
    /* DEBUG */
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

header li {
    display: inline;
    padding-left: 0.3em
}

a {
    text-decoration: none;
    color: white;
}

.prefer a {
    color: black;
}

.vert-align {
    vertical-align: middle;
}

.column {
    display: inline-block;
    width: calc(100% / 3 - 0.2em);
    position: relative;

    /* DEBUG */
    background-color: blueviolet;
    height: 500px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.tag {
    font-size: 1.1rem;
    padding: 0.3em;
    color: white;
    bottom: 80px;
    z-index: 1;
}

.prefer {
    color: aqua;
    font-size: 2.5rem;
    right: 0;
    padding: 0 10px;
    top: 20px;
    z-index: 1;
    background-color: white;
}

/* HEADER */

header .container {
    justify-content: space-between;
}

/* HEADER */

/* #region MAIN */
main {
    margin-top: 100px;
}

.row {
    border: 1px solid black;
    margin-bottom: 20px;
}



.price {
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
}

.images {
    bottom: 0;
    left: 0;
}

.sale {
    background-color: red;
}

.sostenibility {
    background-color: green;
    left: 50px;
}



/* #endregion MAIN */