/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

#boolean-logo {
    height: 40px;
}

header {
    height: 60px;
    background-color: orange;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* UTILITYS */
.flex-container {
    display: flex;
}

.container {
    width: 70%;
    margin: auto;
    /* DEBUG */
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

header li {
    display: inline;
    padding-left: 0.3em
}

a {
    text-decoration: none;
    color: white;
}

.vert-align {
    vertical-align: middle;
}

.column {
    display: inline-block;
    width: calc(100% / 3 - 0.2em);
    position: relative;

    /* DEBUG */
    background-color: blueviolet;
    height: 500px;
}

/* HEADER */

header .container {
    justify-content: space-between;
}

/* HEADER */

/* #region MAIN */
main {
    margin-top: 100px;
}

.row {
    border: 1px solid black;
    margin-bottom: 20px;
}

.price {
    position: absolute;
    bottom: 0;
    left: 0;

    /* DEBUG */
    /* height: 100px; */
    width: 100%;
    background-color: green;
}






/* #endregion MAIN */