/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif
}

img {
    max-width: 100%;
}

#boolean-logo {
    height: 40px;
}

header {
    height: 60px;
    background-color: orange;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* UTILITYS */
.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container {
    width: 70%;
    max-width: 1050px;
    margin: auto;
}

ul {
    list-style-type: none;
}

header li {
    display: inline;
    padding-left: 0.3em
}

footer li {
    display: inline;
    padding-left: 0.3em
}

a {
    text-decoration: none;
    color: white;
}

.prefer a {
    color: black;
}

.vert-align {
    vertical-align: middle;
}

.column {
    display: inline-block;
    width: calc(100% / 3 - 0.2em);
    position: relative;
    height: 500px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.tag {
    font-size: 0.9rem;
    padding: 0.3em;
    color: white;
    bottom: 80px;
    z-index: 1;
}

.prefer {
    color: aqua;
    font-size: 2.5rem;
    right: 0;
    padding: 0 10px;
    top: 20px;
    z-index: 1;
    background-color: white;
}

.orig-value {
    text-decoration-line: line-through;
}

.price-sale {
    color: red;
    font: bold;
}

/* HEADER */

header .container {
    justify-content: space-between;
}

/* HEADER */

/* #region MAIN */
main {
    margin-top: 100px;
}

.row {
    margin-bottom: 40px;
}

.price {
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
}

.price span {
    font-size: 0.9rem;
}

.images {
    bottom: 0;
    left: 0;
}

.sale {
    background-color: red;
}

.sostenibility {
    background-color: green;
    left: 50px;
}


/* HOVER */
.column:hover .front {
    display: none;
}

.prefer:hover a {
    color: red;
}

/* #endregion MAIN */

/* #region FOOTER */
footer {
    color: white;
    background-color: #1a1a1a;
    min-height: 100px;
}

footer .container {
    padding-top: 20px;
}

.info li {
    padding: 0;
}

.info h4 {
    padding-bottom: 0.5em;
}

.info a {
    font-size: 0.7rem;
}

.icons-footer h5 {
    margin-bottom: 0.6em;
}

/* #endregion FOOTER */
/* SASSONE ☜(⌒▽⌒)☞🗿 */